button {
    cursor: pointer;
    border: none;
    margin: 1em;
}

.standard-btn {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    border-radius: 8px;
}

.delete-card-btn {
    padding: 0.5em;
    border-radius: 50%;
    background-color: transparent;
}

/* animated border for hover/focus states? */

button:active {
    transform: scale(0.95);
}

.main {
    background-color: var(--off-white-clr);
    color: var(--dark-red-clr);
}

.secondary {
    background-color: var(--dark-red-clr);
    color: var(--off-white-clr);
}

.ghost {
    background-color: transparent;
    color: var(--off-white-clr);
    border: 2px solid var(--off-white-clr);
}
