dialog {
    border-radius: 12px;
}

.top-banner {
    margin-top: 0;
    padding: 0;
    max-height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}