
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    padding: 1em;
    margin: 3em 0 0;
    background-color: var(--black-red-clr);
    font-size: 0.75rem;
    color: var(--off-white-clr);
    position: relative;
    bottom: 0;
}

footer a {
    color: var(--anchor-light-clr);
}

footer a:visited {
    color: var(--anchor-v-light-clr);
}

.last-updated-text {
    text-align: center;
}

@media (min-width: 850px) {
    footer {
        flex-direction: row;
    }

    .footer-col {
        flex-basis: 40%;
    }

    .last-updated-text {
        text-align: left;
    }
}