*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
  
  --dark-red-clr: #80081a;
  --black-red-clr: #1c0306;
  --off-white-clr: #f7f7f7;

  --anchor-light-clr: #afddfa;
  --anchor-v-light-clr: #e7cafa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  line-height: 1.5em;
}
